.container p{
    font-size: 120px;
    position: absolute;
    top: 100px;
    left: 35%;
    color: white;
    font-family: 'Koulen', 'cursive';
    border-style: solid; 
    border-width: 10px;
    padding: 60px;
    background-color: rgb(32, 113, 39);
}
*{
    padding: 0%;
}
#conteItemsCarrusel{
    
    height:450px ;
    overflow: hidden;
}
.itemCarrusel{
    
    height: 100%;
    position: relative;
    margin-left: 40px;
    margin-right: 40px;

}
.tarjetaCarrusel{
    
    height: 100%;
    margin-left: 40px;
    margin-right: 40px;
}
.flechasCarrusel{
   
    position: absolute;
    top: 0;
    height: 100%;
    width: 95%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    margin-left: 30px;
}
#tarjetaCarrusel-1{
    background-color: rgba(32, 113, 39, 0.8);
    margin-left: 20px;
    margin-right: 5px;
}
#tarjetaCarrusel-2{
    background-color: rgba(32, 113, 39, 0.8);
    margin-left: 20px;
    margin-right: 5px;
}
#tarjetaCarrusel-3{
    background-color: rgba(32, 113, 39, 0.8);
    margin-left: 20px;
    margin-right: 5px;
}
#contePuntos{
    
    display: flex;
    justify-content: space-around;
}
#contePuntos >a{
    font-size: 1.9em;
    font-style: none;
}
.tarjetaCarrusel img{
    width: 100%;
    height: 100%;
    opacity: 60%;
    
}
a{
    text-decoration: none;
}
a:hover{
    color:rgba(32, 113, 39, 0.8);
}
i{
    text-decoration: none;
    color: white;
}
h4{
    color: #efefef;
    
    font-family: 'Koulen', 'cursive';
    
    background-color:rgb(41, 139, 49) ;
    padding: 30px;
    border:rgb(170, 167, 167) ;
    font-size: 15px;
    margin-top: -10px;
}
h5{
    color: #efefef;
    
    font-family: 'Koulen', 'cursive';
    
    background-color:rgb(44, 150, 52) ;
    padding: 30px;
    border:rgb(170, 167, 167) ;
    font-size: 18px;
    margin-top: -40px;
    
    
}


.pie-pagina{
    width: 100%;
    background-color: rgb(32, 113, 39);
}
.pie-pagina .grupo-1{
    width: 100%;
    max-width: 1200px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-gap: 50px;
    padding: 45px 0px;
}
.pie-pagina .grupo-1 .box figure{
   width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.pie-pagina .grupo-1 .box figure img{
    width: 200px;

}
.pie-pagina .grupo-1 .box h2{
    color: white;
    margin-bottom: 25px;
    font-size: 20px;
}
.pie-pagina .grupo-1 .box p{
    color: #efefef;
    margin: bottom 10px;

}
.pie-pagina .grupo-1 .red-social a{
    display: inline-block;
    text-decoration: none;
    width: 45px;
    height: 45px;
    line-height: 45px;
    color: #fff;
    margin-right: 10px;
    background-color:#0d2023 ;
    text-align: center;
}
.pie-pagina .grupo-1 .red-social a:hover{
    background-color: rgb(51, 143, 143);
}

.pie-pagina .grupo-2{
    background-color: rgb(41, 139, 49);
    padding: 15px 10px;
    text-align: center;
    color: #fff;
 }
.pie-pagina .grupo-2 small{
    font-size: 15px;
}

.compra a{
    text-decoration: none;
    display: block;
    border: 1px solid gray;
    width: 100%;
    height: 25px;
    text-align: center;
    padding-top: 0px;
    margin-top: -35px;
    background-color:rgb(32, 113, 39) ;
    color: #efefef;
    font-family: 'Koulen', 'cursive';
    transition: 2s;
    font-size: 15px;
    
    
   
}
.compra a:hover{
    background-color: black;
    
}
.compra img{
    width: 100%;
}
@media (min-width: 800px){
    .container p{
        font-size: 120px;
        position: absolute;
        top: 100px;
        left: 40%;
        color: white;
        font-family: 'Koulen', 'cursive';
        border-style: solid; 
        border-width: 10px;
        padding: 60px;
        background-color: rgb(32, 113, 39);
    }
    
}