@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

htm{
    background-image: url(img/Aviones.jpg);
}
*{
    
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    
}


.pie-pagina{
    width: 100%;
    background-color: rgb(32, 113, 39);
}
.pie-pagina .grupo-1{
    width: 100%;
    max-width: 1200px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-gap: 50px;
    padding: 45px 0px;
}
.pie-pagina .grupo-1 .box figure{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.pie-pagina .grupo-1 .box figure img{
    width: 200px;

}
.pie-pagina .grupo-1 .box h2{
    color: white;
    margin-bottom: 25px;
    font-size: 20px;
}
.pie-pagina .grupo-1 .box p{
    color: #efefef;
    margin: bottom 10px;

}
.pie-pagina .grupo-1 .red-social a{
    display: inline-block;
    text-decoration: none;
    width: 45px;
    height: 45px;
    line-height: 45px;
    color: #fff;
    margin-right: 10px;
    background-color:#0d2023 ;
    text-align: center;
}
.pie-pagina .grupo-1 .red-social a:hover{
    background-color: rgb(51, 143, 143);
}

.pie-pagina .grupo-2{
    background-color: rgb(41, 139, 49);
    padding: 15px 10px;
    text-align: center;
    color: #fff;
}
.pie-pagina .grupo-2 small{
    font-size: 15px;
}

@media screen and (max-width:800px){
    .pie-pagina .grupo-1{
        width: 90%;
        grid-template-columns: repeat(1,1fr);
        grid-gap: 30px;
        padding: 35px 0px;
    }
    
}
#conteItemsCarrusel{
    
    height:350px ;
    overflow: hidden;
}
.itemCarrusel{
    
    height: 100%;
    position: relative;
    margin-left: 40px;
    margin-right: 40px;

}
.tarjetaCarrusel{
    
    height: 100%;
    margin-left: 40px;
    margin-right: 40px;
}
.flechasCarrusel{
   
    position: absolute;
    top: 0;
    height: 100%;
    width: 95%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
    margin-left: 40px;
    margin-right: 40px;
}
#tarjetaCarrusel-1{
    background-color: rgba(32, 113, 39, 0.8);
    margin-left: 40px;
    margin-right: 40px;
}
#tarjetaCarrusel-2{
    background-color: rgba(32, 113, 39, 0.8);
    margin-left: 20px;
    margin-right: 20px;
}
#tarjetaCarrusel-3{
    background-color: rgba(32, 113, 39, 0.8);
    margin-left: 20px;
    margin-right: 20px;
}
a{
    text-decoration: none;
}
a:hover{
    color:rgba(32, 113, 39, 0.8);
}
i{
    text-decoration: none;
    color: white;
}

#contePuntos{
    
    display: flex;
    justify-content: space-around;
}
#contePuntos >a{
    font-size: 1.9em;
    font-style: none;
}
img{
    width: 100%;
    height: 100%;
    opacity: 60%;
    
}
